/node_modules/
/dist/
/output/
Dockerfile.dev
docker-entrypoint.sh
.env

# Generated OpenAPI types
src/http/generated/

# TypeScript project references build info
*.tsbuildinfo

# VSCode settings
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
