/node_modules/
/dist/
/output/
Dockerfile
docker-entrypoint.sh
.env
chromium-server-docker/

# Generated proto files
src/grpc/generated/

# VSCode settings
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
