[submodule "chromium-server-docker"]
	path = chromium-server-docker
	url = https://github.com/uraitakahito/chromium-server-docker.git
[submodule "meadow"]
	path = meadow
	url = https://github.com/uraitakahito/meadow.git
[submodule "capping"]
	path = capping
	url = https://github.com/uraitakahito/capping.git
[submodule "timestamp-authority"]
	path = timestamp-authority
	url = https://github.com/sigstore/timestamp-authority.git
